.App{
  font-size: 16px;
  background-color: #19202e ;
}

.profile-foto{
  /* width: 130px; */
  position: absolute;
  margin: 0 auto;
  background-color: #333;
  left: 46%;
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 130px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  /* background-color: #e0e0e0; */
  /* margin-top: 10px; */
  padding: 6px;
  text-align: center;
}

.icon-experiences{
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.button-container{
  display: flex;
  justify-content: end;
}

.child-button-container{
  /* background-color: rgb(123, 123, 123); */
  width: fit-content;
  padding: 10px;
  border-radius: 2em;
}
.card-project{
  background-color: none;
}

.img-project{
  object-fit: cover;
  width: 100%;
  max-height: 125px;
  border-radius: 10px;
}

.description-project{
  text-align: start;
  margin: 0;
  letter-spacing: 1px;
}

.scrollToTop{
  color: #a5b3ce;
  /* float: right; */
  /* position: absolute; */
  /* background-color: chartreuse; */
  display: flex;
  justify-content: end;
}

.icon-scroll{
  font-size: 50px;
  color: #a5b3ce;
  position: fixed;
  bottom: 0.1em;
  right: 0.2em;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
}

.a-child{
  text-decoration: none;
  color: #a5b3ce;
}